<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<div id="imgWrapper"
  <ul>
    <% @pictures.each do |picture| %>
        <li>
          <div>
            <h2><%= picture.title %></h2>
            <%= image_tag picture.url %>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<br>
<%= link_to 'New Picture', new_picture_path %>
