<!--

<% @posts.each do |post| %>
<p>
  <%= image_tag post.url %>
</p>
 <% end %>
 -->

 <div id="imgWrapper"
   <ul>
     <% @posts.each do |post| %>
         <li>
           <div>
             <h2><%= post.title %></h2>
             <%= image_tag post.url %>
           </div>
         </li>
     <% end %>
   </ul>
 </div>
 <br>
 <%= link_to 'New Picture', new_post_path %>
